@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap);
@import "home.css";
@import "donate.css";
@import "ucp.css";

:root {
    --pageBg: rgba(23, 23, 23, 0.91);
    --contentBg: rgba(32, 32, 32, 0.9);
    --textColor: rgba(224, 224, 224, 0.8);
    --accentColor: #9f51a7;
    --accent2Color: #614164;
    --progress-bar-width: 20rem;
    --progress-bar-height: 20rem;
}

* {
    user-select: none;
    transition: all 0.8s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.pBody {
    font-family: "Noto Sans Armenian", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--textColor);
    box-shadow: inset 0 0 0 1000px var(--pageBg);
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1000px var(--pageBg);
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--accentColor);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}


a, a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.pWrapper {
    padding: 20px 70px 30px 70px;
}

li {
    list-style: none;
}

.navItem, .mNavItem, .navButtons, .mNavButtons {
    padding: 10px;
}

.navItem.logo .fa.fa-infinity {
    font-size: 48px;
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}

.navButtons, .mNavButtons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    transition: all 0.1s;
}

.navButtons a, .mNavButtons a {
    transition: all 0.01s;
}


.navButtons a:hover {
    border-bottom: 2px dotted var(--accentColor);
}

.mNavButtons a:hover {
	background: rgba(0, 0, 0, 0.1);
}

.navItem i:before, .mNavItem i:before {
    padding-right: 10px;
}

.pContent {
    padding: 60px 0px 60px 0px;
}

.footerWrapper {
    padding: 30px;
    background: var(--contentBg);
    border-radius: 20px;
    box-shadow: 0px 0px 6px 6px rgb(0 0 0 / 10%);
}

.footerElemetns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.copyrightLogo {
	font-size: 60px;
	padding-bottom: 10px;
}

.copyrightLogo i:hover {
	transform: scale(1.2);
}

.copyrightText {
	font-size: 12px;
}

.footerRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.6;
}

.fNavButtons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    transition: all 0.1s;
}

.fNavButtons a {
    transition: all 0.01s;
}


.fNavButtons a:hover {
	color: var(--textColor);
    font-weight: bold;
}

.fNavItem i:before {
    padding-right: 10px;
}

.mobileNav {
	padding: 20px;
}

.mobileNavWrapper {
	border-radius: 50px;
	background: var(--contentBg);
	padding: 20px;
	box-shadow: 0px 0px 6px 6px rgb(0 0 0 / 10%);
}

.mNavButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 3;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--pageBg);
}

::-webkit-scrollbar-thumb {
    background: var(--accentColor, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accentColor);
}

.footerSocialMedia {
	font-size: 32px;
}

.fa-brands:hover, .fa-gamepad:hover { transform: scale(1.1); }
.fa-brands.fa-facebook { color: #1877F2; }
.fa-brands.fa-instagram {
	color: transparent;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
}
.fa-brands.fa-youtube { color: #FF0000; }
.fa-brands.fa-vk { color: #4C75A3; }
.fa-brands.fa-telegram { color: #24A1DE; }
.fa-brands.fa-x-twitter { color: #14171A; }